# Folder untuk dokumen internal & kredensial
/INTERNAL_TEAM_DOCS/

# File konfigurasi Firebase (SANGAT SENSITIF)
ecopoin_unila/lib/firebase_options.dart
ecopoin_unila/android/app/google-services.json
